<i id="x" class="fa fa-times fa-2x" aria-hidden="true" (click)="exit()"></i>

<form autocomplete="off" #editsupplierModal="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-12">
            <h1 mat-dialog-title>
               Supplier info
            </h1>
        </div>
    </div>

    <mat-dialog-content class="mid-dialog-size">
        <div class="row">
            <div class='col-md-6 col-xm-12'>
                <mat-form-field appearance="fill" >
                    <mat-label>name</mat-label>
                    <input matInput name="name" [(ngModel)]="supplier.name" required>
                    <mat-error >the name field must have value</mat-error>
                  </mat-form-field>
                  
            </div>

            <div class='col-md-6 col-xm-12'>
                <mat-form-field appearance="fill">
                    <mat-label>Govornorate</mat-label>
                    <mat-select name="governorateId" [(ngModel)]="supplier.governorateId" required>
                      <mat-option *ngFor="let gov of governorates" [value]="gov.id"> {{gov.name}} </mat-option>
                    </mat-select>
                    <mat-error >the governorate field must have value</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6 col-xm-12'>
                <mat-form-field appearance="fill" >
                    <mat-label>phoneNumber</mat-label>
                    <input matInput  name="phoneNumber" [(ngModel)]="supplier.phoneNumber" required>
                    <mat-error >the phone field must have value</mat-error>  
                </mat-form-field>
            </div>
            <div class='col-md-6 col-xm-12'>
     

                  <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select name="typeId" [(ngModel)]="supplier.typeId" required>
                      <mat-option *ngFor="let type of supplierTypes" [value]="type.id"> {{type.name}} </mat-option>
                    </mat-select>
                    <mat-error >the name field must have value</mat-error>
                  </mat-form-field>
            </div>
        </div>


        <div class='row'>


            <div class='col-md-12 col-xm-12'>
                <mat-form-field appearance="fill" style="width:100%" >
                    <mat-label>address</mat-label>
                    <textarea matInput name="address" [(ngModel)]="supplier.address">
                        </textarea>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 col-xm-12'>
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Email Address</mat-label>
                    <input
                      type="text"
                      matInput
                      name="email"
                      [(ngModel)]="supplier.emailAddress"
                      class="form-input-field"
                      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                      required
                    />
                    <mat-error 
                      >you must enter valid email</mat-error
                    >
                  </mat-form-field>
                  </div>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-flat-button type="submit" flex="15" color="primary"
                [disabled]="!editsupplierModal.form.valid || saving">
            Save
        </button>
        <button mat-button type="button" [disabled]="saving" (click)="close(null)">
            Cancel
        </button>
    </div>
</form>